* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #222;
}

.wrapper {
    width: 500px;
    display: flex;
    gap: 10px;
    font-size: 32px;
    font-weight: 600;
}

.wrapper .text {
    color: #fff;
}

.wrapper .job {
    display: flex;
    color: #12e727;
}

.start {
    opacity: 0;
}

.animation {
    animation: animate 0.3s forwards;
}

@keyframes animate{
    0% {
        opacity: 0;
        transform: translateY(20px); 
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.holder-animation{
    animation: holder 4s;
}

@keyframes holder{
    0% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}