* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #222;
}

.header-parent {
    display: flex;
    justify-content: left;
    width: 100vw;
    padding: 20px;
}

.header-pic {
    display: flex;
    flex-direction: row;
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 20px;
  }

.header-pic .profilePic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.header-text {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 30px;
}

.header-items{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    color: #fff;
    padding: 20px;
    justify-content: right;
    align-items: center;
    font-size: 15px;
}

.header-items .linkedIn {
    color: #fff;
    padding: 20px;
}

.header-items .github {
    color: #fff;
    padding: 20px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600; 
    margin-top: 50px;
}

.intro .intro-text1{
    color: #fff;
    padding: 30px;
    font-size: 80px;
}

.intro .intro-text2 {
    color: #fff;
    padding: 30px;
    font-size: 60px;
}

.wrapper {
    width: 300px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 32px;
    font-weight: 600; 
}

.wrapper .text {
    padding-left: 90px;
    color: #fff;
}

.wrapper .job {
    padding-right: 30px;
    display: flex;
    color: rgb(18, 231, 39);
}

.projects-text{
    margin-top: 300px;
    margin-bottom: 100px;
    font-size: 60px;
    color: white;
}

.project-container {
    display: flex;
    flex-direction: row;
    
}

.card {
    margin: 20px;
    width: 400px;
    height: 500px;
    text-align: center;
    border-radius: 25px;
    background-color: white;
}

.top {
    font-size: 40px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 400px;
    height: 375px;
    display: flex;
    justify-content: center;
}

.overlay {
    transition: opacity 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 400px;
    height: 375px;
    background-color: rgba(255, 255, 255, 0.702);
    box-shadow: inset 0px 0px 20px 10px rgb(0, 0, 0, 0.6);
    position: absolute;
}

.overlay:hover {
    opacity: 0;
    cursor: pointer;
}

.card-pic {
    width: 400px;
    height: 375px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.bottom {
    padding: 10px;
    background-color: white;
}

.start {
    opacity: 0;
}

.animation {
    animation: animate 0.3s forwards;
}

@keyframes animate{
    0% {
        opacity: 0;
        transform: translateY(20px); 
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.holder-animation{
    animation: holder 4s;
}

@keyframes holder{
    0% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}