.flex-container {
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 500px;
    display: flex;
    gap: 10px;
    font-size: 32px;
    font-weight: 600;
}

.start {
    opacity: 0;
}

.animation {
    animation: animate 0.3s forwards;
}

@keyframes animate{
    0% {
        opacity: 0;
        transform: translateY(20px); 
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.holder-animation{
    animation: holder 4s;
}

@keyframes holder{
    0% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}